@charset "UTF-8";

body
{
  min-width: 680px;
  margin: 0;
  padding: 0;
  background: #E5E5E5;
  color: #333;
  text-align: center;
}

body,
td
{
  /* font-family: 10pt 'eurostile lt std', helvetica, arial, sans-serif; */
  font: 10pt helvetica, arial, sans-serif;
  }

img
{
  border: none;
  }

#tucsWrap
{
  width: 680px;
  margin: 0 auto;
  border: 1px solid #999;
  border-width: 1px 1px 1px 1px;
  background-color: #FFF;
  color: inherit;
  text-align: left;
  margin-top: 30px;
  padding-top: 0px;
  margin-bottom: 30px;
  }

.tucsSkip
{
  display: none;
  }

/* ------------------------------------------------------------------ */

#tucsHeader #tucsNav
{
  padding: 0 16px 0 56px;
  }

#tucsHeader #tucsPath
{
  padding: 0.3em 16px 0.3em 56px;
  }

#tucsHeader #tucsTools
{
  margin: 1em 0 1em 0;
  padding: 0 56px 0 56px;
  }

#tucsContent
{
  margin: 0 56px 0 0;
  padding: 0em 0 0 56px;
  }


/* ------------------------------------------------------------------ */

#tucsHeader #tucsBanner
{
  margin-bottom: 1em;
  color: inherit;
  }

#tucsContent p#tucsAlert
{
  margin: 1em 0;
  border: 2px solid #C03;
  background-color: #EEE;
  color: inherit;
  padding: 0.5em;
  }

#tucsContent h2
{
  color: #333;
  }

#tucsContent h1
{
  font-size: 28pt;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: center;
  }

#tucsContent h2
{
  padding-top: 1em;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  }

#tucsContent h3
{
  margin: 0;
  padding-top: -10px;
  font-size: 14pt;
  margin-bottom: 20px;
  text-align: left;
}

#tucsContent h1 + p,
#tucsContent h2 + p,
#tucsContent h3 + p
{
  margin: 0;
  }

#tucsContent p
{
  margin: 0.5em 0;
  }

#tucsContent .noindent
{
    margin: 0 0 0 -28px;
}

#tucsContent a:visited
{
  color: #1aa1ff;
  }

#tucsContent a
{
  background-color: inherit;
  color: #1aa1ff;
}

#tucsContent * a:hover
{
  background-color: inherit;
  color: #1aa1ff;
}

#tucsContent th
{
  /* 	border-bottom: 1px solid #c03; */
  background-color: #e5e5e5;
  padding-right: 0.5em;
  color: #333;
  font-size: 9pt;
  font-weight: normal;
  white-space: nowrap;
  text-transform: uppercase;
  }

#tucsContent td ul,
#tucsContent td ol
{
  margin: 0;
  padding: 0;
  }

#tucsContent td li
{
  margin-left: 1.5em;
}

#tucsContent pre,
#tucsContent tt,
#tucsContent code
{
  font-family: courier, 'courier new', mono;
  }

#right {
    background-color:#eeeeee;
    width:170px;
    padding:10px;
    float:right;
    height: 170px;
    margin-right: 14px;
}

#header {
    padding:30px;
    
}

#block {
    padding-bottom: 15px;
}

#h3header
{
  margin: 0;
  padding-top: -10px;
  font-size: 14pt;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  padding-left: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 3px;
  margin-bottom: 0px;
  line-height:150%;
}

#left {
    background-color:#eeeeee;
    width:550px;
    float:left;
    padding:10px;
    font-size: 12pt;
    line-height: 22px;
    height: 169px;
    margin-left: 34px;
    border:5px solid white;
}

#leftflex {
    background-color:#eeeeee;
    width:540px;
    padding: 10px;
    font-size: 12pt;
    line-height: 22px;
    margin-left: 0px;
    border:8px solid white;
}

#middle {
    float:left;
    font-size: 12pt;
    line-height: 22px;
    height: 10px;
    margin-left: 34px;
    margin-right: 34px;
}

#right {
    background-color:#eeeeee;
    width:170px;
    padding:10px;
    float:right;
    height: 170px;
    margin-right: 34px;
}

#data {
  margin-top: 7em;
  padding-top: 11em;
  margin-bottom: 30px;
}

#text {
  margin-left: 7px;
  font-size: 11pt;
  line-height: auto;
  margin-bottom: 10px; 
  margin-top: 10px; 
}

#block {
    padding-bottom: 15px;
}

#blockend {
    padding-bottom: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
